html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: grey;
    min-width: 745px;
}

h1 {
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.image-grid img:hover {
    transform: scale(1.1);
}

image-grid_gameplan {
    display: flex;
    justify-content: center;
    gap: 20px;
}

image-grid_gameplan img {
    width: 45%;
    cursor: pointer;
}

.details {
    grid-column: span 5;
    background: linear-gradient(to right, rgb(116, 15, 10), rgb(67, 16, 19));
    padding: 20px;
    display: none;
}

.details img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

header {
    background: radial-gradient(circle, rgb(116, 15, 10), rgb(67, 16, 19));
    margin-left: -30px;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav {
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    color: white; 
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: black;
    border-radius: 5px;
}

.detailsName {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
}

.killer-description {
    flex: 1;
}

.detailsName {
    text-align: center;
    margin-bottom: 10px;
}

.killer-perks {
    display: flex;
    flex-wrap: wrap;
}

.killer-perk-item {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.killer-info {
    display: flex;
    justify-content: space-between; /* Verteilt den Platz zwischen den beiden Spalten */
    margin-bottom: 20px;
}

.killer-image {
    flex: 0 0 45%; /* Linke Spalte nimmt 45% der Breite ein */
    margin-right: 10px;
    text-align: center;
}

.killer-image img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
}

.killer-voicelines {
    flex: 0 0 45%;
    text-align: center;
}

.killer-perks {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.killer-perk-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.mori-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    width: 80%; /* Breite des Videos im Vergleich zur gesamten Breite */
    max-width: 700px; /* Maximale Breite des Videos */
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.mori-container iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9; /* Beibehaltung des Seitenverhältnisses */
    border-radius: 10px;
}

.about-section {
    position: relative;
    overflow: hidden;
    height: 400px; /* Passe die Höhe nach Bedarf an */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Video hinter den Text setzen */
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw; /* Dies sorgt für ein 16:9-Seitenverhältnis */
    transform: translate(-50%, -50%);
    pointer-events: none; /* Verhindert, dass Nutzer mit dem Video interagieren können */
}

.about-section .content {
    position: relative;
    z-index: 1;
    color: white; /* Textfarbe ändern, um sich vom Video abzuheben */
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Schwarzer, halbtransparenter Hintergrund für bessere Lesbarkeit */
}

.collapsibleContent {
    display: none; /* Standardmäßig ausgeblendet */
}

.collapsibleContent.active {
    display: block; /* Sichtbar, wenn aktiv */
}

.killerDetailsColor {
    color: #F5F5DC;
}

.killerDetailsSubHeadingColor {
    color: #CCCCCC;
}